[Unit]
Description=Soda OS persistent toolchain storage
Requires=soda-state-directories.service
After=soda-state-directories.service

[Mount]
What=/var/lib/soda/toolchains
Where=/opt/soda/toolchains
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
