[Unit]
Description=Soda OS temporary health service
After=local-fs.target

[Service]
Type=simple
Group=soda-api
ExecStart=/usr/libexec/soda/sodad
Restart=on-failure
RuntimeDirectory=soda
RuntimeDirectoryMode=0770
StandardOutput=append:/var/log/soda/sodad/service.log
StandardError=append:/var/log/soda/sodad/service.log
UMask=0007

[Install]
WantedBy=multi-user.target
