[Unit]
Description=Soda OS project daemon
Requires=var-srv-soda-projects.mount opt-soda-toolchains.mount
After=local-fs.target network-online.target var-srv-soda-projects.mount opt-soda-toolchains.mount forgejo.service
Wants=network-online.target forgejo.service

[Service]
Type=simple
Group=soda-api
ExecStart=/usr/libexec/soda/sodad
Restart=on-failure
RuntimeDirectory=soda
RuntimeDirectoryMode=0770
RuntimeDirectoryPreserve=yes
StateDirectory=soda
StateDirectoryMode=0750
StandardOutput=append:/var/log/soda/sodad/service.log
StandardError=append:/var/log/soda/sodad/service.log
UMask=0007

[Install]
WantedBy=multi-user.target
