[Unit]
Description=Soda OS persistent project storage
Requires=soda-state-directories.service
After=soda-state-directories.service
Before=sodad.service

[Mount]
What=/var/lib/soda/projects
Where=/var/srv/soda/projects
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
