.git
.tailscale_auth_key
**/*.key
**/*.pem
**/*.db
**/*.qcow2
**/*.oci-archive.tar
distro/base/**/*.oci-archive.tar
isos/
target/
.artifacts/**
!.artifacts/builder/
.artifacts/builder/**
!.artifacts/builder/packages.lock
!.artifacts/builder/go.tar.gz
!.artifacts/installer/
.artifacts/installer/**
!.artifacts/installer/context/
.artifacts/installer/context/**
!.artifacts/installer/context/installer-packages.txt
!.artifacts/installer/context/installer-boot-packages.txt
!.artifacts/installer/context/installer-efi-vendor.txt
!.artifacts/installer/context/interactive-defaults.ks
!.artifacts/installer/context/iso.yaml
