/isos/**/*.iso
/distro/base/**/*.oci-archive.tar
.DS_Store
.artifacts/
target/
cockpit/node_modules/
*.rpm
*.qcow2
*.utm/
*.crdownload
*.key
*.pem
*.db

.tailscale_auth_key
cockpit/dist/
cockpit/.vite/
