set default="0"
set timeout=@BOOT_TIMEOUT@

function load_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod png

search --no-floppy --set=root -l '@VOLUME_ID@'
if background_image /EFI/BOOT/soda-grub-background.png; then
  set color_normal=white/black
  set color_highlight=black/light-cyan
fi

menuentry 'Install Soda OS @VERSION@' --class soda --class gnu-linux --class os {
  linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=@VOLUME_ID_ESCAPED@ inst.profile=@PROFILE_ID@ inst.ks=hd:LABEL=@VOLUME_ID_ESCAPED@:/ks.cfg ro
  initrd /images/pxeboot/initrd.img
}

menuentry 'Test media and install Soda OS @VERSION@' --class soda --class gnu-linux --class os {
  linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=@VOLUME_ID_ESCAPED@ inst.profile=@PROFILE_ID@ inst.ks=hd:LABEL=@VOLUME_ID_ESCAPED@:/ks.cfg rd.live.check ro
  initrd /images/pxeboot/initrd.img
}

submenu 'Troubleshooting -->' {
  menuentry 'Install Soda OS @VERSION@ in basic graphics mode' --class soda --class gnu-linux --class os {
    linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=@VOLUME_ID_ESCAPED@ inst.profile=@PROFILE_ID@ inst.ks=hd:LABEL=@VOLUME_ID_ESCAPED@:/ks.cfg nomodeset ro
    initrd /images/pxeboot/initrd.img
  }

  menuentry 'Rescue a Soda OS system' --class soda --class gnu-linux --class os {
    linux /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=@VOLUME_ID_ESCAPED@ inst.profile=@PROFILE_ID@ inst.rescue ro
    initrd /images/pxeboot/initrd.img
  }
}
