[Unit]
Description=Soda OS persistent project storage
After=systemd-tmpfiles-setup.service
Before=sodad.service

[Mount]
What=/var/lib/soda/projects
Where=/var/srv/soda/projects
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
