{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content user signin{{if .LinkAccountMode}} icon{{end}}">
	<div class="ui middle very relaxed page grid">
		<div class="column tw-flex tw-flex-col tw-gap-4 tw-max-w-2xl tw-m-auto">
			{{template "custom/owner_setup" .}}
			{{if ne .SodaOwnerSetup "missing-admin"}}{{template "user/auth/signup_inner" .}}{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
