[Unit]
Description=Initialize Soda OS built-in Git service
Wants=tailscaled.service
After=systemd-sysusers.service systemd-tmpfiles-setup.service tailscaled.service soda-tailscale-enroll.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemd-tmpfiles --create forgejo.conf
ExecStartPre=-/usr/bin/tailscale wait --timeout=30s
ExecStart=/usr/libexec/soda/forgejo-init
