[Unit]
Description=Initialize Soda OS built-in Git service
Wants=tailscaled.service
After=systemd-sysusers.service systemd-tmpfiles-setup.service tailscaled.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/soda/forgejo-init
