{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="tw-mb-8 tw-px-8 center">
		<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
		<div class="hero">
			<h1 class="ui icon header title">{{AppDisplayName}}</h1>
			<p class="large">{{MetaDescription}}</p>
		</div>
	</div>
	<div class="ui container tw-max-w-2xl tw-mb-8">{{template "custom/owner_setup" .}}</div>
</div>
{{template "base/footer" .}}
